/* body */
html, body {
    height: 100%;
}

/* navbar */
.bg-dark {
    background-color: #575d63 !important;
}

.topbar-divider {
    width: 0;
    border-right: 1px solid #ffffff;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.d-sm-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

/* tablas */
.tr-selected {
    background-color: #acbad4;
}

.btn-secondary {
    background-color: #949eaf;
    border-color: #757d8a;
}